@charset "UTF-8";

:root {
    --bcsoft: #bb3ef534;
    --nav:  #890fdbd7;
}

body {
    background-color: #202020;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

 header {
    padding: 50px;
    text-align: start;
    background: #202020 url(../assets/img/fundo.png) center center no-repeat scroll;
}

nav {
    background-color: var(--nav);
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
}

.softsks {
    margin-top: 50px;
    background-color: var(--bcsoft);
}

.softsks h2 {
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #000000;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 5px;
}

