@charset "UTF-8";

:root {
    --nav:  #2d84f7de;
    --proj1: #4d8dee63;
    --proj2: #0740966c;
    --shadow: #00000083;
    --backss: #00000069;
}

body {
    background-color: #202020;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000b7;
    padding: 50px;
    text-align: center;
}

header > h1 {
    margin: 0;
}

nav {
    background-color: var(--nav);
    text-align: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    text-decoration: underline;
}

img.profile-picture {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 30px auto;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

h3 {
    margin: 10px;
    text-align: center;
}

.projects {
    background-color: var(--backss);
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px 0 var(--shadow);
}

.project1 {
    background-image: linear-gradient(to bottom, var(--proj1), var(--proj2));
    border-radius:  30px;
    box-shadow: 1px 3px 10px 1px var(--shadow);
    margin: 20px;
    padding: 20px;
}

.project2 {
    background-image: linear-gradient(to bottom, var(--proj1), var(--proj2));
    border-radius: 30px;
    box-shadow: 1px 3px 10px 1px var(--shadow);
    margin: 20px;
    padding: 20px;
}

.project3 {
    background-image: linear-gradient(to bottom, var(--proj1), var(--proj2));
    border-radius: 30px;
    box-shadow: 1px 3px 10px 1px var(--shadow);
    margin: 20px;
    padding: 20px;
}

.about {
    background-color: var(--backss);
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px 0.1px var(--shadow);
}

.about p {
    justify-content: center;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

.contact {
    background-color: var(--backss);
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px 0.1px var(--shadow);
}

.contact p {
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.contact a {
    color: #ffffff;
    text-decoration: underline;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 1px;
}

footer p {
    margin: 0;
    padding: 10px;
}