@charset "UTF-8";

body {
    background-color: #1f1f1f;
    color: #8e8fc7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    padding: 50px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #8d4ee0;
    text-align: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    
}

img.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

footer {
    background-color: #000000;
    color: #deb6f8;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

