@charset "UTF-8";

body {
    background-color: #202020;
    color: #8e8fc7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    padding: 50px;
    text-align: center;
}

header > h1 {
    margin: 0;
}

nav {
    background-color: #8d4ee0;
    text-align: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

img.profile-picture {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

.projects {
    background-color: #00000069;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px 0.1px #000000;
}

.project1 {
    background-image: linear-gradient(to bottom, #00000083, #b701ff31);
    border-radius:  30px;
    box-shadow: 1px 3px 10px 1px rgba(227, 7, 247, 0.2);
    margin: 20px;
    padding: 20px;
}

.project2 {
    background-image: linear-gradient(to bottom, #00000083, #b701ff31);
    border-radius: 30px;
    box-shadow: 1px 3px 10px 1px rgba(227, 7, 247, 0.2);
    margin: 20px;
    padding: 20px;
}

.project3 {
    background-image: linear-gradient(to bottom, #00000083, #b701ff31);
    border-radius: 30px;
    box-shadow: 1px 3px 10px 1px rgba(227, 7, 247, 0.2);
    margin: 20px;
    padding: 20px;
}

.about {
    background-color: #00000069;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px 0.1px #000000;
}

.about p {
    justify-content: center;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

.contact {
    background-color: #00000069;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 10px 0.1px #000000;
}

.contact p {
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 1px;
}

